body{
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
}

.container{
    width: 80%;
    margin: auto;
    display: flex;
}

.header{
    border-bottom: 3px solid #32b9cd;
}

.header .container{
    justify-content: space-between;
}

.header a{
    text-decoration: none;
    color: #e3b062;
}

.agora{
    font-weight: 800;
}

.navbar{
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    color: #e3b062; 
}

.titulo {
    color: #32b9cd;
    width: fit-content;
    font-weight: bold;
}